{% extends 'base.html' %}
{% load static %}


{% block title %}
  LifeChain
{% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'style.css' %}" />



<section id="home" class="home">
    <div class="row">
         <div class="images">
            <img src="{% static 'home.png' %}" alt="">
        </div> 

        
        <div class="content">
            <h1><span>Be</span> A <span>Donor</span> and <span> Save</span> Life.</h1>
            <p>A Selfless act, an endless ripple of Hopes.</p>
            <!-- <a href="#"><button onclick="window.location.href='{% url 'donorpridict' %}'" class="button">Be a Donor</button></a> -->
            <a href="#"><button onclick="window.location.href='{% url 'donorpridict' %}'" class="button">Compatibility</button></a>
        </div>
    </div>
</section>
<section id="about" class="about">
    <h1 class="heading">Transforming Lives Through Donation</h1>
    <div class="box-container">
        <div class="box">
            <div class="images">
                <img src="{% static 'donorArtical.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>Why Become a Donor?</h3>
                <p>Becoming a kidney donor is a life-changing decision that offers hope to those in need. By choosing to donate, you have the power to save someone's life and give them a second chance to live fully. Your generosity can create a profound and positive impact on families affected by kidney disease, bringing relief and joy to those who are struggling. Moreover, your selfless act can inspire others to follow your example, fostering a culture of compassion and creating a healthier, more connected society.</p>
            </div>
        </div>
        <div class="box">
            <div class="images">
                <img src="{% static 'DonorArtical2.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>Benefits of Donating</h3>
                <p>Donating a kidney is an extraordinary way to transform lives, giving recipients the opportunity to lead healthy and fulfilling lives. For those battling kidney disease, your donation is more than a gift—it’s a lifeline that restores their ability to enjoy everyday moments with their loved ones and pursue their dreams. As a donor, you will receive the highest level of medical support, ensuring your health and well-being are prioritized throughout the entire process.</p>
            </div>
        </div>
        
            </div>
        </div>
    </div>
</section>

<!-- <section id="contact" class="contact">
    <h1 class="heading">contact us</h1>
    <h3 class="title">you can talk to us any times,</h3>
    <div class="row">
        <div class="images">
            <img src="{% static 'form.png' %}" alt="">
        </div>
        <div class="form-container">
            <input type="text" placeholder="full name">
            <input type="email" placeholder="enter your email">
            <input type="number" placeholder="phone number">
            <textarea cols="30" rows="10"></textarea>
            <input type="submit" value="send">
        </div>
    </div>
</section> -->



{% endblock content %}
