
<section class="footer">
    <div class="box">
        <h2 class="logo"><span>L</span>ife<span>C</span>hain.</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, cupiditate accusantium! Itaque, blanditiis! Temporibus libero asperiores consectetur non! Natus, nesciunt.</p>
    </div>
    <div class="box">
        <h2 class="logo"><span>s</span>hare</h2>
        <a href="#">facebook</a>
        <a href="#">twitter</a>
        <a href="#">instagram</a>
        <a href="#">pinterest</a>
    </div>
    <div class="box">
        <h2 class="logo"><span>L</span>inks</h2>
        <a href="{%url 'index'%}">home</a>
    </div>
    <h1 class="credit">Developed by  <span> LifeChain Team  </span> all rights reserved!</h1>
</section>