
<section class="footer">
    <div class="box">
        <h2 class="logo"><span>L</span>ife<span>C</span>hain.</h2>

        <a class="qoute">You have a chance to save lives! If you don't take it,
            you may regret
            it!</a>
    </div>
    <div class="box">
        <h2 class="logo"><span>s</span>hare</h2>
        <i class="fa-brands fa-facebook logo"></i>
        <i class="fa-brands fa-instagram logo"></i>
        <i class="fa-brands fa-linkedin logo"></i>
        <i class="fa-brands fa-instagram logo"></i>

    </div>
    <div class="box">
        <h2 class="logo"><span>L</span>inks</h2>
        <a class="qoute" href="{%url 'index'%}">home</a>
    </div>
    <h1 class="credit">Developed by <span> LifeChain Team </span> all rights
        reserved!</h1>
</section>