{% extends 'base.html' %}
{% load static %}


{% block title %}
  LifeChain
{% endblock title %}

{% block content %}

<section id="home" class="home">
    <div class="row">
        <div class="images">
            <img src="{% static 'images\Two kidneys.png' %}" alt="">
        </div>
        
        <div class="content">
            <h1><span>Bridging</span> the Gap Between <span>Donors</span> and<span> Recipients.</span></h1>
            <p>A Selfless act, an endless ripple of Hopes.</p>
            <a href="#"><button class="button">Read More</button></a>
        </div>
    </div>
</section>
<section id="about" class="about">
    <h1 class="heading">Our Motive</h1>
    <h1 class="title">Learn and explore our facility</h1>
    <div class="box-container">
        <div class="box">
            <div class="images">
                <!-- <img src="{% static 'about-1.png' %}" alt=""> -->
                <img src="{% static 'image.png' %}" alt="">
            </div>
            <div class="content">
                <h3>Building Bridges Between Donors and Recipients</h3>
                <p>Our motive is to create a platform that bridges the gap between kidney donors and recipients, ensuring timely support for those battling kidney disease. By fostering a culture of generosity and awareness, we aim to empower individuals to take action and transform lives through the gift of kidney donation.</p>
                <a href="#"><button class="button">Learn more</button></a>
            </div>
        </div>
        <div class="box">
            <div class="images">
                <img src="{% static 'images\Untitled design (2).png' %}" alt="">
            </div>
            <div class="content">
                <h3>Saving Lives Through Kidney Donation</h3>
                <p>Our mission is to save lives by raising awareness about the importance of kidney donation. We aim to connect generous donors with those in critical need, providing them with a second chance at life. Through compassion, education, and support, we strive to inspire a community dedicated to making a difference and fostering hope for a healthier and brighter future.</p>
                <a href="#"><button class="button">Learn more</button></a>
            </div>
        </div>
        
            </div>
        </div>
    </div>
</section>
<section id="doctor" class="card">
    <div class="container">
        <h1 class="heading">doctors</h1>
        <h3 class="title">our professional doctors</h3>
        <div class="box-container">
            <div class="box">
                <img src="{% static 'images\DoctorSaad.jpg' %}" alt="">
                <div class="content">
                    <a href="#">
                        <h2>Dr.Saad</h2>
                    </a>
                    <p>professional</p>

                    <div class="icons">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="{% static 'images\DoctorAhmed.jpg' %}" alt="">
                <div class="content">
                    <a href="#">
                        <h2>Dr.Ahmed</h2>
                    </a>
                    <p>professional</p>

                    <div class="icons">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="{% static 'doctor-3.jpg' %}" alt="">
                <div class="content">
                    <a href="#">
                        <h2>john doe</h2>
                    </a>
                    <p>professional</p>

                    <div class="icons">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="review" class="review">
    <h1 class="heading">Our Team</h1>
    <h3 class="title">United Minds, Unlimited Potential</h3>
    <div class="box-container">
        <div class="box">
            
            <p><i class="fas fa-quote-left"></i> <br> Atta Ur Rehman is leading the back-end development of the Life Chain website. He is responsible for building the core functionalities, ensuring robust server-side operations, and managing the database integration. His work guarantees that the website is secure, efficient, and capable of handling user data responsibly, contributing to the overall reliability of the platform. <br> <i class="fas fa-quote-right"></i> </p>
            
            <div class="images">
                <img src="{% static 'images\Atta.jpg' %}" alt="">

                <div class="info">
                    <h3>Atta Ur Rehman</h3>
                    <span>Leader</span>
                </div>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-quote-left"></i>
            <p>Ahmed Ali is responsible for developing the front-end of the Life Chain website. With a focus on creating an intuitive and visually appealing user interface, Ahmed ensures that the website is user-friendly and accessible. His expertise in web design and front-end development ensures seamless navigation and an engaging experience for users, highlighting the importance of kidney donation effectively.</p>
            <i class="fas fa-quote-right"></i>
            <div class="images">
                <img src="{% static 'images\Ahmed.jpg' %}" alt="">

                <div class="info">
                    <h3>Ahmed Ali</h3>
                    <span>Member</span>
                </div>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-quote-left"></i>
            <p>Areeb Mirza is contributing to the Life Chain website by creating detailed diagrams such as Entity-Relationship Diagrams (ERD), use case diagrams, and workflow diagrams. His work helps visualize the system's structure, interactions, and processes, ensuring clear communication among team members and aiding in the successful development of the project.</p>
            <i class="fas fa-quote-right"></i>
            <div class="images">
                <img src="{% static 'images\Areeb.jpg' %}" alt="">

                <div class="info">
                    <h3>Areeb Mirza</h3>
                    <span>Member</span>
                </div>
            </div>
        </div>
        <div class="box">
            <i class="fas fa-quote-left"></i>
            <p>Muneeba Saeed is handling the documentation for the Life Chain website. She is responsible for gathering requirements, preparing comprehensive design documentation, and maintaining project records. Her work ensures that all project details are well-documented, aligning the team’s efforts with the project’s goals and providing a solid foundation for future development.</p>
            <i class="fas fa-quote-right"></i>
            <div class="images">
                <img src="{% static 'images\Muneeba.jpg' %}" alt="">

                <div class="info">
                    <h3>Muneeba Saeed</h3>
                    <span>Member</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog" class="blog">
    <h1 class="heading">blog <i class="fas fa-newspaper"></i></h1>
    <h3 class="title"> <strong>Daily Latest News.</strong>  <br>Stay updated with the latest news and updates from Life Chain.</h3>
    <div class="box-container">
        <div class="box">
            <img src="{% static 'blog 1.jpg' %}" alt="">
            <div class="content">
                <a href="#">
                    <h2>Advancements in Kidney Health and Donation: What’s New?</h2>
                </a>
                <p>The field of kidney health and transplantation is rapidly evolving with constant breakthroughs. One promising advancement is the development of bioartificial kidneys, which aim to reduce dependence on organ donors while minimizing rejection risks. Another significant step forward is the rise of minimally invasive surgeries, which allow for quicker recovery times and enhanced safety for both donors and recipients. Additionally, global kidney donation networks, such as kidney exchange programs, are growing internationally, enabling better matching of donors and recipients across borders.</p>
                <a href="#"><button class="button">learn more</button></a>
            </div>
        </div>
        <div class="box">
            <img src="{% static 'blog 2.jpg' %}" alt="">
            <div class="content">
                <a href="#">
                    <h2>Number of Kidneys Donated Daily – A Global Perspective</h2>
                </a>
                <p>Every day, kidney donations change lives worldwide. On average, over 60 kidney transplants are performed daily globally, yet this number is still insufficient to meet the growing demand. About 40% of kidney transplants come from living donors, showcasing the selflessness of individuals who share the gift of life. While countries like Spain and the U.S. lead in organ donation rates, other nations are still working to improve awareness and infrastructure. By raising awareness, we can help bridge the gap between demand and supply.Increased collaboration and global awareness are key to saving more lives.</p>
                <a href="#"><button class="button">learn more</button></a>
            </div>
        </div>
        <div class="box">
            <img src="{% static 'blog 3.jpg' %}" alt="">
            <div class="content">
                <a href="#">
                    <h2>Tips for Keeping Your Kidneys Healthy</h2>
                </a>
                <p>Your kidneys are essential to your overall well-being. To keep them functioning optimally, stay hydrated by drinking plenty of water to flush out toxins. A balanced diet rich in fruits, vegetables, whole grains, and lean proteins, while low in salt and processed foods, can greatly benefit kidney health. Regular exercise helps maintain healthy blood pressure and reduces the risk of kidney disease. Be cautious with over-the-counter medications like pain relievers and anti-inflammatory drugs, as excessive use can harm your kidneys. Lastly, scheduling routine checkups can help detect potential kidney problems early on.</p>
                <a href="#"><button class="button">learn more</button></a>
            </div>
        </div>
    </div>
</section>


{% endblock content %}
