{% load static %}

<link rel="stylesheet" href="{% static 'loginStyle.css' %}" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<body>

  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form class="loginn" action="{% url 'login' %}" method="post">
    <h3>Login Here</h3>
    {% csrf_token %}
    <label for="email">Enter UserName </label>
    <input type="text" placeholder="Enter UserName" id="username"
      name="username"
      required>

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="password"
      required>

    <button id="login-btn" type="submit">Log In</button>

    <a href="{% url 'signup' %}" class="ancher">Create an account</a>
  </form>
</body>
<!-- Display error messages if any -->

<!-- 
{% if messages %}
{% for message in messages %}
<p class="{{ message.tags }}">{{ message }}</p>
{% endfor %}
{% endif %} -->

<script>
  {% if messages %}
  {% for message in messages %}
    Swal.fire({
      title: '{{ message.tags }}',
      text: '{{ message }}',
      icon: '{{ message.tags }}',
      timer: 1500
    });
  {% endfor %}
  {% endif %}
</script>
