{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f5f8fc;
    margin: 0;
    padding: 20px;
    
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.card {
    background-color: white;
    border: 1px solid #d3e4f0;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-bottom: 30px;
}

.card h2 {
    border-bottom: 2px solid #c4d8ec;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #2a5d89;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    vertical-align: top;
}

    </style>

<div class="container">
  <!-- Personal Information -->
  <div class="card">
    <h2>Personal Information</h2>
    <table>
      <tr>
        <td><strong>Name:</strong></td>
        <td>{{user.username}}</td>
        <td><strong>Email</strong></td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td><strong>Role:</strong></td>
        <td>{{user.role}}</td>
        <td><strong>Phone No:</strong></td>
        <td>{{user.contact}}</td>
      </tr>
      <tr>
        <td><strong>Nationality</strong></td>
        <td>{{user.nationality}}</td>
        <td><strong>Address</strong></td>
        <td>{{user.address}}</td>
      </tr>

    </table>
  </div>

  <!-- Degree Information -->
  <div class="card">
    <h2>Your Result For Compatibility </h2>
    <table>
      <tr>
        <td><strong>{{ donor.eligibility }}</strong></td>
      </tr>
    </table>
  </div>

  <div class="card">
    <h2>Allocated To Receiver</h2>
    <tr>
      <td><strong></strong></td>
      <td colspan="3">21101001-100</td>
    </tr>
  </div>
</div>
{% endblock %}
