{% extends 'base.html' %}
{% load static %}


{% block title %}
  LifeChain
{% endblock title %}

{% block content %}

<link rel="stylesheet" href="{% static 'style.css' %}" />



<section id="home" class="home">
    <div class="row">
        <div class="images">
            <img src="{% static 'home.png' %}" alt="">
        </div> 
        
        <div class="content">
            <h1><span>Be</span> A <span>Hero</span> and <span> Save</span> Life.</h1>
            <p>Your Selfless Act Can Spark Endless Hope.</p>
            <!-- <a href="#"><button onclick="window.location.href='{% url 'donorpridict' %}'" class="button">Be a Donor</button></a> -->
            <a href="#"><button id="RecipinetPrictionButton" onclick="window.location.href='{% url 'recipientprictiction' %}'" class="button">Compatibility</button></a>
        </div>
    </div>
</section>
<section id="about" class="about">
    <h1 class="heading">Hope for a New Beginning</h1>
    <div class="box-container">
        <div class="box">
            <div class="images">
                <img src="{% static 'about-1.png' %}" alt="">
            </div>
            <div class="content">
                <h3>Your Journey Towards Wellness</h3>
                <p> Kidney disease can be life-altering, but it doesn't have to define your future. Through the generosity of donors and the support of our platform, recipients are given a second chance at life. We are here to guide you every step of the way, from finding a compatible donor to receiving post-transplant care.</p>
            </div>
        </div>
        <div class="box">
            <div class="images">
                <img src="{% static 'about-2.png' %}" alt="">
            </div>
            <div class="content">
                <h3>Finding Hope Through Kidney Donation</h3>
                <p>Our mission is to save lives by raising awareness about the importance of kidney donation. We aim to connect generous donors with those in critical need, providing them with a second chance at life. Through compassion, education, and support, we strive to inspire a community dedicated to making a difference and fostering hope for a healthier and brighter future.</p>

            </div>
        </div>
        
            </div>
        </div>
    </div>
    {% if messages %}
        <script>
            {% for message in messages %}
                Swal.fire({
                    title: '{{ message.tags|capfirst }}',
                    text: '{{ message }}',
                    icon: '{% if message.tags == "error" %}error{% elif message.tags == "success" %}success{% elif message.tags == "warning" %}warning{% else %}info{% endif %}',
                    confirmButtonText: 'OK'
                });
            {% endfor %}
        </script>
        {% endif %}
</section>

 
{% endblock content %}
